{% include header.html %}

    <section class="main-content clearfix">

      <div class="text"> 
        {{ content }}
      </div>

      <div class="episode-list">
        {% assign today = site.time %}
        {% if site.tags['published'].size > 0 %}
          <h3>Recent Episodes</h3>
          <ul>
            {% for post in site.posts limit:10 %}
              {% if post.date <= today and post.tags contains 'published' %}
                <li>
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}

        {% if site.tags['upcoming'].size > 0 %}
          <h3>Upcoming Guests</h3>
          <ul>
            {% for post in site.tags['upcoming'] reversed %}
              <li>
                {{ post.title }}
              </li>
            {% endfor %}            
          </ul>
        {% endif %}
  
      </div>



    </section>

{% include footer.html %}
