{% include header.html %}

    <section class="main-content clearfix">

      <div class="text"> 
        {{ content }}
      </div>

      <div class="episode-list">
        <h3>Start something</h3>

        <a href="https://docs.google.com/forms/d/14LvBqDK1gTq2WyOW2EcjLws1-FB72nCaExer3Pmyu5k/viewform?usp=send_form" class="btn btn-small btn-threequarter">Suggest a guest</a> <br />

        <a href="https://twitter.com/intent/tweet?text=%23openparen" class="btn btn-small btn-threequarter">Tweet #openparen</a>

        {% assign today = site.time %}
        {% if site.tags['published'].size > 0 %}
          <h3>Recent Episodes</h3>
          <ul>
            {% for post in site.posts limit:10 %}
              {% if post.date <= today %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}

        {% if site.tags['upcoming'].size > 0 %}
          <h3>Upcoming Episodes</h3>
          <ul>
            {% for post in site.tags['upcoming'] %}
              {% if post.date > today %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endif %}
            {% endfor %}            
          </ul>
        {% endif %}
  
      </div>



    </section>

{% include footer.html %}
